/*____
 | __ )  __ _ ___  ___
 |  _ \ / _` / __|/ _ \
 | |_) | (_| \__ \  __/
 |____/ \__,_|___/\___|
 */

@font-face{
	font-family: 'Latin Modern Roman';
	src: url('font/lmroman10-regular-webfont.eot');
	src: url('font/lmroman10-regular-webfont.eot?iefix') format('eot'),
	     url('font/lmroman10-regular-webfont.woff') format('woff'),
	     url('font/lmroman10-regular-webfont.ttf') format('truetype'),
	     url('font/lmroman10-regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Latin Modern Italic';
	src: url('font/lmroman10-italic-webfont.eot');
	src: url('font/lmroman10-italic-webfont.eot?iefix') format('eot'),
	     url('font/lmroman10-italic-webfont.woff') format('woff'),
	     url('font/lmroman10-italic-webfont.ttf') format('truetype'),
	     url('font/lmroman10-italic-webfont.svg#webfont') format('svg');
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: black;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
	position: relative;
}

.fullscreen {
  height: 100vh;
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(235,235,235,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(66%, rgba(255,255,255,1)), color-stop(100%, rgba(235,235,235,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(235,235,235,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(235,235,235,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(235,235,235,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 66%, rgba(235,235,235,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb', GradientType=0 );
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fullscreen-above-the-fold {
  height: 100vh;
}

.headline {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 50px;
  border-top: 1px solid white;
  font-size: 48px;
  color: black;
  font-weight: normal;
  font-family: 'Latin Modern Roman', serif;
}

section.register-form {
	position: relative;
}

.error-message {
	width: 300px;
	height: auto;
	background-color: #F3F3F3;
	box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
	border-radius: 3px;
	position: absolute;
	font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 12px;
	padding-left: 10px;
	border: 2px solid #f68f0c;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.error-message-register-name {
	top: 199px !important;
	left: 616px;
	width: 136px;
}

.error-message-register-email {
	top: 270px !important;
	left: 616px;
	width: 134px;
}

.error-message-register-password {
	top: 340px !important;
	left: 616px;
	width: 356px;
}

.error-message-register-password-again {
	top: 412px !important;
	left: 616px;
	width: 136px;
}

.error-message-register-adress {
	top: 510px !important;
	left: 616px;
	width: 220px;
}

#map {
	height: 100%;
	border-radius: 3px;
}

/*_   _                _
 | | | | ___  __ _  __| | ___ _ __
 | |_| |/ _ \/ _` |/ _` |/ _ \ '__|
 |  _  |  __/ (_| | (_| |  __/ |
 |_| |_|\___|\__,_|\__,_|\___|_|
                                   */

.main-header {
  height: 50px;
  width: 100%;
  background: #000000;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.50);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;

}

.main-header ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-header li {
  margin-left: 74px;
  list-style: none;
}

.main-header a {
  color: white;
  text-decoration: none;
}

.main-header li a {
  font-size: 18px;
  font-family: 'Latin Modern Roman', serif;
	transition-duration: 300ms;
}

.main-header li a:hover {
	border-bottom: 1px solid white;
}

.main-header h1 {
  margin: 0;
}

.main-header h1 a {
  display: block;
  width: 120px;
  height: 23px;
  text-indent: 10000px;
  background-image: url(images/logo-header.svg);
  background-repeat: no-repeat;
}

.cart {
  display: block;
  height: 33px;
  width: 39px;
  margin-left: 60px;
  background-image:url(images/cart.svg);
  background-repeat: no-repeat;
}

.empty-cart-message {
	font-family: 'Latin Modern Roman', serif;
	font-size: 18px;
	font-style: italic;
}

.cart p {
  margin: 0;
  position: relative;
  left: 22px;
  top: -1px;
  font-size: 16px;
  font-family: 'Latin Modern Italic';
  background-color: #282F43;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin {
  margin-left: 56px;
}

/*_____ _          _     ____            _   _
 |  ___(_)_ __ ___| |_  / ___|  ___  ___| |_(_) ___  _ __
 | |_  | | '__/ __| __| \___ \ / _ \/ __| __| |/ _ \| '_ \
 |  _| | | |  \__ \ |_   ___) |  __/ (__| |_| | (_) | | | |
 |_|   |_|_|  |___/\__| |____/ \___|\___|\__|_|\___/|_| |_|
                                                           */


.above-the-fold {
  background-image: url('images/Header.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.above-the-fold h1 {
  margin: 0;
}

.above-the-fold h1 {
  height: 243px;
  width: 410px;
  text-indent: -10000px;
  background-image: url('images/main-logo.svg');
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.above-the-fold h2 {
  font-size: 36px;
  border-top: 1px solid white;
  font-family:'Latin Modern Italic';
  font-weight: normal;
  color: white;
  padding: 10px 60px;
}


/*____                           _   ____            _   _
 / ___|  ___  ___ ___  _ __   __| | / ___|  ___  ___| |_(_) ___  _ __
 \___ \ / _ \/ __/ _ \| '_ \ / _` | \___ \ / _ \/ __| __| |/ _ \| '_ \
  ___) |  __/ (_| (_) | | | | (_| |  ___) |  __/ (__| |_| | (_) | | | |
 |____/ \___|\___\___/|_| |_|\__,_| |____/ \___|\___|\__|_|\___/|_| |_|*/

.homepage-store {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.homepage-store ul {
  display: flex;
  justify-content: center;
	margin: 0;
	padding: 0;
}

.homepage-store li {
  height: 380px;
  width: 300px;
  background-color: white;
  margin-right: 20px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-bottom:
}

.homepage-store li:nth-child(3) {
	margin-right: 0;
}

.homepage-store li .bottom-link {
  display: block;
  width: 100%;
  height: 77px;
  background-color: #282F43;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  font-family: 'myriad-pro', sans-serif;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  letter-spacing: 3.92px;
  line-height: 77px;
  background-image: url('images/arrow-icon.svg');
  background-repeat: no-repeat;
  background-position: 250px center;
}

.homepage-store li .top-link {
  width: 230px;
  height: 230px;
  object-fit: contain;
}

/*_____ _     _         _   ____            _   _
 |_   _| |__ (_)_ __ __| | / ___|  ___  ___| |_(_) ___  _ __
   | | | '_ \| | '__/ _` | \___ \ / _ \/ __| __| |/ _ \| '_ \
   | | | | | | | | | (_| |  ___) |  __/ (__| |_| | (_) | | | |
   |_| |_| |_|_|_|  \__,_| |____/ \___|\___|\__|_|\___/|_| |_|*/

.homepage-about-us p {
  max-width: 940px;
  font-family: 'Latin Modern Roman', serif;
  font-size: 20px;
  line-height: 33px;
  margin-top: 0;
  margin-bottom: 60px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
}

.homepage-about-us h3 {
  font-size: 36px;
  font-family: 'Latin Modern Roman', serif;
  font-weight: normal;
}

.homepage-about-us ul {
  display: flex;
}

.homepage-about-us li {
  list-style: none;
}

.homepage-about-us ul a {
  display: block;
  text-indent: -10000px;
  width: 45px;
  height: 45px;
  margin-right: 57px;
}

.facebook-icon {
  background-image: url('images/facebook-icon.png');
  background-repeat: no-repeat;
}

.instagram-icon {
  background-image: url('images/instagram-icon.png');
  background-repeat: no-repeat;
}

.twitter-icon {
  background-image: url('images/twitter-icon.png');
  background-repeat: no-repeat;
}

/*_____                _   _       ____            _   _
 |  ___|__  _   _ _ __| |_| |__   / ___|  ___  ___| |_(_) ___  _ __
 | |_ / _ \| | | | '__| __| '_ \  \___ \ / _ \/ __| __| |/ _ \| '_ \
 |  _| (_) | |_| | |  | |_| | | |  ___) |  __/ (__| |_| | (_) | | | |
 |_|  \___/ \__,_|_|   \__|_| |_| |____/ \___|\___|\__|_|\___/|_| |_|*/

.homepage-team ul {
  display: flex;
	margin: 0;
	padding: 0;
}

.homepage-team li {
  max-width: 380px;
  height: auto;
  margin-right: 60px;
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-team li:nth-child(2) {
	margin-right: 0;
}

.homepage-team li img {
  margin-top: 51px;
}

.homepage-team h3 {
  font-weight: normal;
  font-size: 36px;
  font-family:'Latin Modern Italic', serif;
  margin-bottom: 10px;
}

.homepage-team p {
  width: 100%;
  height: 140px;
  background-color: #EEEEEE;
  font-size: 13px;
  font-family:'Latin Modern Italic', serif;
  padding: 22px 24px;
  margin: 0;
}

/*_____ _  __ _   _       ____            _   _
 |  ___(_)/ _| |_| |__   / ___|  ___  ___| |_(_) ___  _ __
 | |_  | | |_| __| '_ \  \___ \ / _ \/ __| __| |/ _ \| '_ \
 |  _| | |  _| |_| | | |  ___) |  __/ (__| |_| | (_) | | | |
 |_|   |_|_|  \__|_| |_| |____/ \___|\___|\__|_|\___/|_| |_|*/

.homepage-location ul{
  display: flex;
	margin: 0;
	padding: 0;
}

.homepage-location li {
  width: 431px;
  height: 460px;
  margin-right: 20px;
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  background-color: white;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.homepage-location li:nth-child(2){
	margin-bottom: 40px;
}

.homepage-location h3 {
  font-weight: normal;
  font-size: 36px;
  font-family:'Latin Modern Italic', serif;
  margin:20px 39px;

}

.homepage-location p.location-info {
  font-size: 24px;
  font-family:'Latin Modern Italic', serif;
  margin: 0;
  margin-left: 39px;
}

.homepage-location p.location-info-small {
  font-family:'Latin Modern Italic', serif;
  font-size: 22px;
  margin: 0;
  margin-left: 39px;
  margin-top: 37px;
}

.homepage-location img {
  width: 100%;
  height: 100%;
}

/*____  _      _   _       ____            _   _
 / ___|(_)_  _| |_| |__   / ___|  ___  ___| |_(_) ___  _ __
 \___ \| \ \/ / __| '_ \  \___ \ / _ \/ __| __| |/ _ \| '_ \
  ___) | |>  <| |_| | | |  ___) |  __/ (__| |_| | (_) | | | |
 |____/|_/_/\_\\__|_| |_| |____/ \___|\___|\__|_|\___/|_| |_|*/

.homepage-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newsletter {
  max-width: 940px;
  height: 250px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
}

.newsletter h3{
  font-family: 'myriad-pro', sans-serif;
	font-weight: bold;
	font-style: italic;
  font-size: 40px;
  color: #212121;
  line-height: 48px;
  margin: 0;
  margin-left: 24px;
  margin-top: 36px;
}

.newsletter p {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: #212121;
  line-height: 24px;
  margin: 0;
  margin-left: 24px;
	margin-right: 24px;
}

.newsletter-name {
  width: 332px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;
  margin-left: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: black;
  padding-left: 40px;
  background-image: url(images/name-icon.svg);
  background-position: 10px 9px;
  background-repeat: no-repeat;
  padding-top: 5px;
  margin-top: 40px;
}

.newsletter-email {
  width: 332px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;
  margin-left: 30px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: black;
  padding-left: 45px;
  background-image: url(images/email-icon.svg);
  background-position: 10px 11px;
  background-repeat: no-repeat;
  padding-top: 5px;
}

.newsletter button {
  width: 154px;
  height: 43px;
  background-color: #D1BCA3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-family: 'myriad-pro', sans-serif;;
	font-style: italic;
  margin-left: 30px;
  cursor: pointer;
	margin-right: 20px;
}

.contactform {
  margin-top: 96px;
  height: 600px;
  max-width: 940px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  position: relative;
  z-index: 1;
  margin-bottom: 161px;
}

.contactform h3 {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-weight: bold;
  font-size: 40px;
  color: #212121;
  line-height: 48px;
  margin: 0;
  margin-left: 24px;
  margin-top: 36px;
}

.contactform p {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: #212121;
  line-height: 24px;
  margin: 0;
  margin-left: 24px;
	margin-right: 24px;
}

.contactform-name {
  width: 332px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;
  margin-left: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: black;
  padding-left: 45px;
  background-image: url(images/name-icon.svg);
  background-position: 10px 9px;
  background-repeat: no-repeat;
  padding-top: 5px;
  margin-top: 40px;
}

.contactform-email {
  width: 332px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;
  margin-left: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: black;
  padding-left: 45px;
  background-image: url(images/email-icon.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-top: 5px;
  margin-top: 15px;
}

.contactform select {
  width: 332px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: black;
  padding-left: 45px;
  background-image: url(images/subject-icon.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-top: 5px;
  margin-top: 15px;
  margin-left: 24px;
  -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.contactform-textarea {
  height: 160px;
	width: 879px;
  background-color: #F3F3F3;
  border-radius: 3px;
  border: 1px solid transparent;
  margin-top: 15px;
  margin-left: 24px;
	margin-right: 15px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: black;
  padding-left: 45px;
  padding-top: 10px;
  background-image: url(images/message-icon.svg);
  background-position: 10px 7px;
  background-repeat: no-repeat;
  resize: none;
}

.contactform button {
  width: 154px;
  height: 43px;
  background-color: #D1BCA3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  margin-left: 30px;
  margin-top: 40px;
  margin-right: 35px;
	margin-bottom: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

/*_____           _
 |  ___|__   ___ | |_ ___ _ __
 | |_ / _ \ / _ \| __/ _ \ '__|
 |  _| (_) | (_) | ||  __/ |
 |_|  \___/ \___/ \__\___|_|  */

footer {
  height: 388px;
  width: 100%;
  background-color: #4E4E4E;
  display: flex;
  justify-content: center;
}

footer h4 {
  font-size: 25px;
  color: white;
  font-family:'Latin Modern Italic', serif;
  font-weight: normal;
  margin-bottom: 20px;
}

footer div {
  margin-right: 80px;
}

footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  list-style: none;
  margin-bottom: 10px;
}

footer li a {
  text-decoration: none;
  color: white;
  font-family:'Latin Modern Italic', serif;
  font-size: 20px;
}

footer li a:hover {
  border-bottom: 1px solid white;
}

/*____  _
 / ___|| |_ ___  _ __ ___
 \___ \| __/ _ \| '__/ _ \
  ___) | || (_) | | |  __/
 |____/ \__\___/|_|  \___|*/


.wrapper-page {
  width: 1000px;
  background-color: #FBFBFB;
  margin: 0 auto;
}

.shop {
  display: flex;
  justify-content: space-around;
}

/* ____      _                        _
  / ___|__ _| |_ ___  __ _  ___  _ __(_) ___  ___
 | |   / _` | __/ _ \/ _` |/ _ \| '__| |/ _ \/ __|
 | |__| (_| | ||  __/ (_| | (_) | |  | |  __/\__ \
  \____\__,_|\__\___|\__, |\___/|_|  |_|\___||___/
                     |___/                        */

.wrapper-categories {
  width: 125px;
  height: 288px;
  margin-top: 165px;
}

.wrapper-categories h1 {
  font-weight: normal;
  font-size: 18px;
  color: black;
  text-transform: uppercase;
  font-family:'Latin Modern Italic', serif;
  margin-bottom: 20px;
}

.wrapper-categories ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper-categories li {
  margin-bottom: 15px;
}

.wrapper-categories li a {
  text-decoration: none;
  font-family: 'myriad-pro', sans-serif;
  font-size: 13px;
  color: #8B8B8B;
}

.wrapper-categories li a:hover {
	color: black;
}

.wrapper-categories input[type="checkbox"] {
    display:none;
}
.wrapper-categories input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    border: 1px solid black;
    border-radius: 3px;
    background:url('images/check_radio.svg') left top no-repeat;
    background-size: 80%;
    background-position: center center;;
    cursor:pointer;
}
.wrapper-categories input[type="checkbox"]:checked + label span {
    background:url('images/check_radio.svg') -19px top no-repeat;
    border: 1px solid #8B8B8B;
}

.wrapper-categories input[type="checkbox"]:checked + label {
  color: #8B8B8B;
}

.wrapper-categories label {
  font-family: 'myriad-pro', sans-serif;
  font-size: 13px;
  border: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.wrapper-categories span{
  margin-right: 10px;
  margin-bottom: -3px;
}

/*____                _            _
 |  _ \ _ __ ___   __| |_   _  ___| |_ ___
 | |_) | '__/ _ \ / _` | | | |/ __| __/ __|
 |  __/| | | (_) | (_| | |_| | (__| |_\__ \
 |_|   |_|  \___/ \__,_|\__,_|\___|\__|___/*/

.wrapper-products {
  max-width: 700px;
  margin-top: 140px;
}

.wrapper-selection {
  display: flex;
  height: 40px;
}

.wrapper-selection p {
  margin: 0;
  font-family: 'myriad-pro', sans-serif;
  font-size: 13px;
  color: #ABABAB;
  margin-right: 94px;
}

.wrapper-selection p span {
  color: black;
}

.wrapper-selection select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 0;
  background-color: transparent;
  height: 13px;
  margin-right: 94px;
  color: #ABABAB;
}

.select-view {
  background: url('images/arrows.svg') no-repeat right;
  width: 115px;
}

.select-price {
  background: url('images/arrows.svg') no-repeat right;
  width: 75px;
}

.wrapper-all-products {
  margin-bottom: 123px;
}

.wrapper-all-products ul{
  margin: 0;
  padding: 0;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.wrapper-all-products li {
  width: 220px;
  height: 270px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  position: relative;
  overflow: hidden;
	transition-duration: 1s;
}

.wrapper-all-products li:hover {

box-shadow: 0px 0px 10px 0px rgba(83,83,83,0.50);

}

.wrapper-all-products li:nth-child(3n){
  margin-right: 0px;
}

.wrapper-all-products .sale {
  position: absolute;
  font-size: 14px;
  color: #D86363;
  text-transform: uppercase;
  font-family: 'myriad-pro', sans-serif;
  left: 10px;
  top: 10px;
  margin: 0;
	z-index: 1;
}

.wrapper-all-products .image-link {
  display: block;
  width: 220px;
  height: 183px;
  background-color: white;
  overflow: hidden;
}

.image-link img:hover {

	transform:scale(1.1);
}


.wrapper-all-products img {
  object-fit: contain;
  width: 106%;
  height: 86%;
	transition-duration: 1s;
	margin-top: 15px;
}

.wrapper-all-products div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 51px;
  background-color: #FAFAFA;
}

.wrapper-all-products .title-link {
  font-family: 'myriad-pro', sans-serif;
  text-decoration: none;
  font-size: 13.2;
  color: #4D4D4D;
}

.wrapper-all-products .price-link {
  font-family: 'myriad-pro', sans-serif;
  text-decoration: none;
  font-size: 13.2px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 8px;
}

.wrapper-all-products .view-link {
  display: block;
  height: 37px;
  text-decoration: none;
  font-family: 'myriad-pro', sans-serif;
  font-size: 8px;
  color: #FFFFFF;
  letter-spacing: 2.9px;
  background-color: #282F43;
  padding-left: 10px;
  line-height: 40px;
  text-transform: uppercase;
	overflow: hidden;

}
/* Transition CSS */

.view-link {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
	overflow: hidden;

	background-image: url('images/arrow-product.svg');
	background-repeat: no-repeat;
	background-position: 200px center;

	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.view-link:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;

  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

	background-image: url('images/arrow-product.svg');
	background-repeat: no-repeat;
	background-position: 200px center;
}
.view-link:hover, .view-link:focus, .view-link:active {
  color: white;
}
.view-link:hover:before, .view-link:focus:before, .view-link:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*
 ____       _        _ _
|  _ \  ___| |_ __ _(_) |_ __   __ _  __ _  ___
| | | |/ _ \ __/ _` | | | '_ \ / _` |/ _` |/ _ \
| |_| |  __/ || (_| | | | |_) | (_| | (_| |  __/
|____/ \___|\__\__,_|_|_| .__/ \__,_|\__, |\___|
											 |_|          |___/
*/

.detail {
  display: flex;
  justify-content: space-around;
}

.wrapper-detail {
  margin-top: 133px;
  display: flex;
  margin-bottom: 116px;
}



.wrapper-information {
  width: 380px;
  height: 637px;
}

.wrapper-information h1 {
  font-family:'Latin Modern Italic', serif;
  font-size: 45px;
  color: #0C0C0C;
  font-weight: normal;
  margin-top: 0;
}

.wrapper-information .product-info {
  font-family: 'myriad-pro', sans-serif;
  color: #4F4F4F;
  line-height: 23.6px;
}

.wrapper-information .product-price {
  font-family:'Latin Modern Italic', serif;
  font-size: 45px;
  color: #0C0C0C;
  letter-spacing: 2.64px;
  line-height: 64px;
}

.wrapper-information-wrapper {
	display: flex;
	margin-top: 120px;
}

.detail-select {
	border: 1px solid transparent;
	height: 43px;
	width: 120px;
	background-color: #F3F3F3;
	font-family: 'myriad-pro', sans-serif;
	color: black;
	font-size: 15px;
}

.add-to-bag {
  width: 154px;
  height: 43px;
  background-color: #D1BCA3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  cursor: pointer;
	margin: 0;
  margin-right: 68px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.show-bag {
	display: inline-block;
	text-decoration: none;
  width: 154px;
  height: 43px;
  background-color: #D1BCA3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.other-products {
  width: 1000px;
  height: 433px;
  background-color: #EFEFEF;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
}

.other-products h2 {
  font-family:'Latin Modern Italic', serif;
  font-size: 32px;
  color: #0C0C0C;
  letter-spacing: 1.87px;
  line-height: 45px;
  font-weight: normal;
}

.other-products ul {
  margin: 0;
  padding: 0;
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.other-products li {
  width: 220px;
  height: 270px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  position: relative;
  overflow: hidden;
}

.other-products li:nth-child(3n){
  margin-right: 0px;
}

.other-products .sale {
  position: absolute;
  font-size: 14px;
  color: #D86363;
  text-transform: uppercase;
  font-family: 'myriad-pro', sans-serif;
  left: 10px;
  top: 10px;
  margin: 0;
	z-index: 99999;
}

.other-products .image-link {
  display: block;
  width: 220px;
  height: 183px;
  background-color: white;
  overflow: hidden;
}

.other-products img {
  object-fit: contain;
  width: 100%;
  height: 100%;
	transition-duration: 1s;
}

.other-products div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 51px;
  background-color: #FAFAFA;
}

.other-products .title-link {
  font-family: 'myriad-pro', sans-serif;
  text-decoration: none;
  font-size: 13.2;
  color: #4D4D4D;
}

.other-products .price-link {
  font-family: 'myriad-pro', sans-serif;
  text-decoration: none;
  font-size: 13.2px;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 8px;
}

.other-products .view-link {
  display: block;
  height: 37px;
  text-decoration: none;
  font-family: 'myriad-pro', sans-serif;
  font-size: 8px;
  color: #FFFFFF;
  letter-spacing: 2.9px;
  background-color: #282F43;
  padding-left: 10px;
  line-height: 40px;
  text-transform: uppercase;
  background-image: url('images/arrow-product.svg');
  background-repeat: no-repeat;
  background-position: 200px center;
}


#slider {
  position: relative;
  overflow: hidden;
  margin-right: 100px;
  border-radius: 3px;
	background-color: white;
	box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 380px;
  height: 500px;
  background: white;
  text-align: center;
  line-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

a.control_prev, a.control_next {
  position: absolute;
  z-index: 999;
  display: block;
  width: 25px;
  height: 54px;
  color: #fff;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev {
	background-image: url('images/button-left.svg');
	background-repeat: no-repeat;
	top: 200px;
	left: 10px;
}

a.control_next {
	background-image: url('images/button-right.svg');
	background-repeat: no-repeat;
	top: 200px;
	right: 10px;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

.slider-image {
	width: 280px;
	height: 280px;
	transition-duration: 1s;
}

.slider-image:hover {
	transform:scale(1.1);
}


/*
 ____
| __ )  __ _  __ _
|  _ \ / _` |/ _` |
| |_) | (_| | (_| |
|____/ \__,_|\__, |
						 |___/
*/


.bag {
  display: flex;
  flex-direction: column;
  align-items: center;
	height: 1440px;
	position: relative;
}

.bag-headline {
  margin: 0;
  margin-top: 121px;
  font-family:'Latin Modern Italic', serif;
  font-size: 45px;
  color: #0C0C0C;
  letter-spacing: 2.64px;
  line-height: 64px;
  font-weight: normal;
}

.bag-table {
	width: 939px;
	margin-top: 69px;
	text-align: left;
	border-collapse: collapse;
}

.bag-table-head tr {
	height: 40px;
	background-color: #AAAAAA;
}

.bag-table-head th {
  font-family: 'myriad-pro', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.17px;
}

.bag-table tbody tr{
	height: 138px;
	background-color: #EBEBEB;
}

.bag-table tbody td {
  font-family: 'myriad-pro', sans-serif;
	font-weight: 100;
	font-size: 16.9px;
	color: #0C0C0C;
	letter-spacing: 1.17px;
}

.bag-table tbody .space {
	height: 28px;
}

.bag-table-image-wrapper {
	width: 90px;
	height: 90px;
	border-radius: 3px;
	background-color: white;
	margin-right: 0;
	margin-left: 31px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bag-table-image-wrapper img {
	width: 80%;
	height: 80%;

}

.bag-select {
	background-color: #F3F3F3;
	font-family: 'myriad-pro', sans-serif;
	color: black;
	font-size: 15px;
	border: 1px solid transparent;
}

.bag-update {
	display: block;
	width: 154px;
	height: 43px;
	background: #D1BCA3;
	border-radius: 3px;
	font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 24px;
	color: #FFFFFF;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	margin-right: 20px;
}

.bag-delete {
	display: block;
	width: 29px;
	height: 29px;
	background-image: url('images/bag-delete.svg');
	background-repeat: no-repeat;
}

.checkout-wrapper {
	display: flex;
	align-items: center;
	margin-top: 114px;
	margin-bottom: 200px;
	position: absolute;
	right: 35px;
}

.checkout-wrapper p{
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 24px;
	color: #000000;
	letter-spacing: 1.4px;
	margin-right: 71px;
}

.checkout-wrapper a {
	display: block;
	width: 154px;
	height: 43px;
	background: #D1BCA3;
	border-radius: 3px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 24px;
	color: #FFFFFF;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*######################
PROGRESSBAR
######################*/


.progress_bar{
	margin-top: 131px;
}

.progressbar_text {
	margin-top: 20px;
	width: 526px;
}

.progressbar_text ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.progressbar_text li {
	margin-right: 80px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 15px;
	color: #0C0C0C;
	letter-spacing: 1.46px;
}

.progressbar_text li:nth-child(1) {
	margin-right: 110px;
}

.progressbar_text li:nth-child(2) {
	margin-right: 90px;
}

.progressbar_text li:nth-child(3) {
	margin-right: 100px;
}

.progressbar_text li:nth-child(4) {
	margin-right: 0;
}

/*######################
LOGINFORM
######################*/

.login {
	height: 1439px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form form{
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  width: 472px;
	height: 509px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
	margin-top: 84px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-form{
  display: flex;
  justify-content: center;
}

.login-form fieldset{
  border: 0px;


}

.login-form h3{
  font-family:'Latin Modern Italic', serif;
	font-weight: normal;
	font-size: 45px;
	color: #0C0C0C;
	letter-spacing: 2.64px;
	margin-bottom: 61px;
}

.login-email{
  display: block;
  margin: auto;
  margin-top: 30px;

  width: 300px;
  height: 40px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 2px solid transparent;

  text-align: center;
  padding-top: 5px;

  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;
	background-image: url('images/email-icon.svg');
	background-repeat: no-repeat;
	background-position: 8px 9px;

}

.login-password{
	display: block;
  margin: auto;
  margin-top: 10px;

  width: 300px;
  height: 40px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 2px solid transparent;

  text-align: center;
  padding-top: 5px;

  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/password-icon.svg');
	background-repeat: no-repeat;
	background-position: 11px 6px;
}

.login-submit{
  margin: auto;
	margin-top: 72px;
  display: block;
  width: 154px;
  height: 43px;
  background-color: #D1BCA3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  padding-top: 6px;
  cursor: pointer;


  margin-bottom: 32px;
}

.support{
    list-style: none;
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 0;
}

.support a{
	text-decoration: none;
  font-family: 'myriad-pro', sans-serif;
	font-size: 14px;
	color: #000000;
}

.support a:hover {
	text-decoration: underline;
}





.registration {
	height: 1439px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*######################
REGISTERFORM
######################*/

.register-submit{
  margin: auto;
  display: block;
  width: 154px;
  height: 43px;
  background-color: #D1BCA3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  padding-top: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.register-form form{
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  width: 684px;
	height: 800px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.register-form{
  display: flex;
  justify-content: center;
	margin-top: 180px;
}

.register-form fieldset{
  border: 0px;


}

.register-form h3{
  font-family:'Latin Modern Italic', serif;
	font-weight: normal;
	font-size: 45px;
	color: #0C0C0C;
	letter-spacing: 2.64px;
	margin: 0;
	margin-top: 56px;
	margin-bottom: 52px;
}

.register-email{
  display: block;
  margin: auto;
	margin-bottom: 10px;
  width: 500px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 2px solid transparent;

  font-size: 20px;
  color: black;
  padding-top: 5px;

	display: flex;
	text-align: center;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/email-icon.svg');
	background-repeat: no-repeat;
	background-position: 8px 9px;


}

.register-password{
  display: block;
  margin: auto;
	margin-bottom: 10px;
  width: 500px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 2px solid transparent;
	text-align: center;
  font-size: 20px;
  color: black;
  padding-top: 5px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/password-icon.svg');
	background-repeat: no-repeat;
	background-position: 9px 7px;
}

.register-password-again{
  display: block;
  margin: auto;
	margin-bottom: 10px;
  width: 500px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 2px solid transparent;
	text-align: center;
  font-size: 20px;
  color: black;
  padding-top: 5px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/password-icon.svg');
	background-repeat: no-repeat;
	background-position: 9px 7px;
}
.register-name{
  display: block;
  margin: auto;
	margin-bottom: 10px;
  width: 500px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 2px solid transparent;
	text-align: center;
  font-size: 20px;
  color: black;
  padding-top: 5px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/name-icon.svg');
	background-repeat: no-repeat;
	background-position: 8px 9px;
}

.register-adress{
  display: block;
  margin: auto;
	margin-top: 28px;
	margin-bottom: 10px;
  width: 500px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 2px solid transparent;
	text-align: center;
  font-size: 20px;
  color: black;
  padding-top: 5px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/street-icon.svg');
	background-repeat: no-repeat;
	background-position: 7px 12px;
}

.short{
  display:flex;
  justify-content: center;
}

.register-country{
  display: block;
  /*margin: auto;*/


  width: 240px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 2px solid transparent;

  font-size: 20px;
  color: black;
	text-align: center;
  padding-top: 5px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/country-icon.svg');
	background-repeat: no-repeat;
	background-position: 8px 9px;
}

.register-zip{
  display: block;
  /*margin: auto;*/
  margin-right: 20px;


  width: 240px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 2px solid transparent;
	text-align: center;
  font-size: 10px;

  padding-top: 5px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/zip-icon.svg');
	background-repeat: no-repeat;
	background-position: 8px 9px;
}

.register-submit{
  margin: auto;
  display: block;
  width: 154px;
  height: 43px;
  background-color: #D1BCA3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  padding-top: 6px;
  cursor: pointer;

  margin-top: 84px;
  margin-bottom: 10px;
}

/*######################
SHIPPINGFORM
######################*/

.shipping {
	height: 1439px;
	display: flex;
	flex-direction: column;
	align-items: center;
}



.shipping-submit{
  margin: auto;
  display: block;
  width: 154px;
  height: 43px;
  background-color: #D1BCA3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  padding-top: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}

.shipping-form form{
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  width: 684px;
	height: 901px;
  margin: auto;
	margin-top: 84px;
  background-color: #ffffff;
  border-radius: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shipping-form{
  display: flex;
  justify-content: center;
}

.shipping-form fieldset{
  border: 0px;


}

.shipping-form h3{
  font-family:'Latin Modern Italic', serif;
	font-weight: normal;
	font-size: 45px;
	color: #0C0C0C;
	letter-spacing: 2.64px;
	margin-bottom: 61px;

}

.shipping-adress{

  display: block;
  margin: auto;
  margin-top: 30px;
	text-align: center;
  width: 500px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;

  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/street-icon.svg');
	background-repeat: no-repeat;
	background-position: 10px 13px;
}

.short{
  display:flex;
  justify-content: center;
}

.shipping-country{
  display: block;
  /*margin: auto;*/
	text-align: center;

  width: 240px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;

  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/country-icon.svg');
	background-repeat: no-repeat;
	background-position: 9px 7px;
}

.shipping-zip{
  display: block;
  /*margin: auto;*/

	text-align: center;
  width: 240px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;
	margin-right: 20px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

	background-image: url('images/zip-icon.svg');
	background-repeat: no-repeat;
	background-position: 9px 7px;
}


.invoice-adress{

	display: block;
	margin: auto;
	margin-top: 30px;
	text-align: center;
	width: 500px;
	height: 43px;
	border-radius: 3px;
	background-color: transparent;
	border: 1px solid #979797;

  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #A6A6A6;
	letter-spacing: 1.16px;

	background-image: url('images/street-icon-grey.png');
	background-repeat: no-repeat;
	background-position: 10px 13px;
	background-size: 25px;

	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.invoice-country{
	display: block;
  /*margin: auto;*/
	text-align: center;

  width: 240px;
  height: 43px;
  border-radius: 3px;
	background-color: transparent;
	border: 1px solid #979797;

  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #A6A6A6;
	letter-spacing: 1.16px;

	background-image: url('images/country-icon-grey.png');
	background-repeat: no-repeat;
	background-position: 9px 7px;
	background-size: 25px;

	-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
}

.invoice-zip{
	display: block;
  /*margin: auto;*/

	text-align: center;
  width: 240px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
	margin-right: 20px;
	background-color: transparent;
	border: 1px solid #979797;

  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #A6A6A6;
	letter-spacing: 1.16px;

	background-image: url('images/zip-icon-grey.png');
	background-repeat: no-repeat;
	background-position: 9px 7px;
	background-size: 25px;

	-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
}

.invoice-zip::-webkit-input-placeholder {
    color: #A6A6A6;
		-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}

.invoice-country::-webkit-input-placeholder {
    color: #A6A6A6;
		-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}

.invoice-adress::-webkit-input-placeholder {
    color: #A6A6A6;
		-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}

.invoice-zip-black::-webkit-input-placeholder {
    color: black;
		-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}

.invoice-country-black::-webkit-input-placeholder {
    color: black;
		-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}

.invoice-adress-black::-webkit-input-placeholder {
    color: black;
		-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;
}



.shipping-payment{
  margin-left: 30px;

}

.shipping-alternative-label {
  font-family: 'myriad-pro', sans-serif;
	font-size: 18px;
	color: #0C0C0C;
	letter-spacing: 1.05px;
}

.shipping-alternative{
	margin-top: 102px;
	margin-left: 230px;
}

.shipping-alternative-wrapper{
	display: flex;
	justify-content: center;
	margin-top: 102px;
}

.shipping-alternative-wrapper input[type="checkbox"] {
    display:none;
}

.shipping-alternative-wrapper input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    border-radius: 50%;
    background:url('images/checkbox2.svg') left top no-repeat;
    background-size: 50%;
    background-position: center center;;
    cursor:pointer;
		background-color: #D8D8D8;
}
.shipping-alternative-wrapper input[type="checkbox"]:checked + label span{
    background:url('images/checkbox2.svg') -19px top no-repeat;
    background-color: #D8D8D8;
}

.shipping-alternative-wrapper input[type="checkbox"]:checked + label {
  color: #8B8B8B;
}

.shipping-alternative-wrapper label {
  font-family: 'myriad-pro', sans-serif;
  font-size: 13px;
  border: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.shipping-alternative-wrapper span{
  margin-right: 10px;
  margin-bottom: -3px;
}

.shippingchecked {
	border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;

  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;
}

/*Checkboxes Wrapper*/

.checkboxes-wrapper {
	display: flex;
	justify-content: center;
}


/*Checkbox on Invoice*/

.on-invoice-wrapper {
	margin-right: 59px;
}


.on-invoice-wrapper input[type="radio"] {
    display:none;
}

.on-invoice-wrapper input[type="radio"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    border-radius: 50%;
    background:url('images/checkbox2.svg') left top no-repeat;
    background-size: 50%;
    background-position: center center;;
    cursor:pointer;
		background-color: #D8D8D8;
}
.on-invoice-wrapper input[type="radio"]:not(:checked) + label span{
    background:url('images/checkbox2.svg') -19px top no-repeat;
    background-color: #D8D8D8;
}

.on-invoice-wrapper input[type="radio"]:not(:checked) + label {
  color: #8B8B8B;
}

.on-invoice-wrapper label {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
  border: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.on-invoice-wrapper span{
  margin-right: 10px;
  margin-bottom: -3px;
}

/*Checkbox Lastname*/

.lastname-wrapper {
	margin-right: 59px;
}

.lastname-wrapper input[type="radio"] {
    display:none;
}

.lastname-wrapper input[type="radio"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    border-radius: 50%;
    background:url('images/checkbox2.svg') left top no-repeat;
    background-size: 50%;
    background-position: center center;;
    cursor:pointer;
		background-color: #D8D8D8;
}
.lastname-wrapper input[type="radio"]:not(:checked) + label span{
    background:url('images/checkbox2.svg') -19px top no-repeat;
    background-color: #D8D8D8;
}

.lastname-wrapper input[type="radio"]:not(:checked) + label {
  color: #8B8B8B;
}

.lastname-wrapper label {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
  border: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.lastname-wrapper span{
  margin-right: 10px;
  margin-bottom: -3px;
}


/*Checkbox Prepayment*/


.prepayment-wrapper input[type="radio"] {
    display:none;
}

.prepayment-wrapper input[type="radio"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    border-radius: 50%;
    background:url('images/checkbox2.svg') left top no-repeat;
    background-size: 50%;
    background-position: center center;;
    cursor:pointer;
		background-color: #D8D8D8;
}
.prepayment-wrapper input[type="radio"]:not(:checked) + label span{
    background:url('images/checkbox2.svg') -19px top no-repeat;
    background-color: #D8D8D8;
}

.prepayment-wrapper input[type="radio"]:not(:checked) + label {
  color: #8B8B8B;
}

.prepayment-wrapper label {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
  border: 0;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.prepayment-wrapper span{
  margin-right: 10px;
  margin-bottom: -3px;
}




.shipping-submit{
  margin-top: 59px;
	margin-bottom: 71px;
  display: block;
  width: 154px;
  height: 43px;
  background-color: #D1BCA3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  padding-top: 6px;
  cursor: pointer;
  margin-bottom: 10px;
}



/*Thank You*/

.thankyou {
	height: 1439px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.thankyou-section {
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 0px rgba(170,170,170,0.50);
	border-radius: 3px;
	width: 684px;
	height: 564px;
	margin-top: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.thankyou-section h1 {
  font-family:'Latin Modern Italic', serif;
	font-size: 45px;
	color: #0C0C0C;
	letter-spacing: 2.64px;
	font-weight: normal;
	margin-top: 56px;
}

.thankyou-section img {
	margin-top: 53px;
}

.thankyou-section p {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 25px;
	color: #0C0C0C;
	letter-spacing: 1.46px;
	margin-top: 37px;
}

.thankyou-section a {
	background: #D1BCA3;
	border-radius: 3px;
	text-decoration: none;
	display: block;
	width: 153px;
	height: 43px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 24px;
	color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 60px;
}

/* Summary */

.summary-section {
	width: 684px;
	height: auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 0px rgba(170,170,170,0.50);
	border-radius: 3px;
	margin-top: 84px;
	display: flex;
	flex-direction: column;
	align-items: center;

}

.summary-section h1 {
  font-family:'Latin Modern Italic', serif;
	font-size: 45px;
	color: #0C0C0C;
	letter-spacing: 2.64px;
	font-weight: normal;
	margin-top: 56px;
}

.summary-shippingadress-wrapper {
	display: flex;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;
}

.summary-shippingadress {
	margin-right: 20px;
}

.summary-invoiceadress-wrapper {
	display: flex;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #0C0C0C;
	letter-spacing: 1.16px;
}

.summary-invoiceadress {
	margin-right: 20px;
}

.summary-table {
	width: 612px;
	margin-top: 42px;
	text-align: left;
	border-collapse: collapse;
}

.summary-table-head tr {
	height: 25px;
	background-color: #AAAAAA;
}

.summary-table-head th {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0.82px;
}

.summary-table tbody tr{
	height: 69px;
	background-color: #EBEBEB;

}

.summary-table tbody td {
  font-family: 'myriad-pro', sans-serif;
	font-weight: 100;
	font-size: 16.9px;
	color: #0C0C0C;
	letter-spacing: 1.17px;
}

.summary-table tbody .summary-space {
	height: 10px;
}

.summary-table-image-wrapper {
	width: 51px;
	height: 51px;
	border-radius: 3px;
	background-color: white;
	margin-right: 0;
	margin-left: 9px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.summary-table-image-wrapper img {
	width: 80%;
	height: 80%;
}

.total-wrapper {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	margin-right: 90px;
}

.total-wrapper .total {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 16.9px;
	color: #000000;
	letter-spacing: 0.99px;
	text-decoration: underline;
}

.summary-buy {
	display: block;
	text-decoration: none;
	width: 154px;
	height: 43px;
	background-color: #D1BCA3;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 24px;
	color: #FFFFFF;
	margin-bottom: 47px;
	border: 0;
}

.green_border {
	border: 2px solid green;
}

.red_border {
	border: 2px solid red;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
	transition-duration: 2s;
}

input.valid, textarea.valid{
	border: 2px solid green;
	transition-duration: 2s;
}

input:focus {
    outline:none;
}

/* HOMEPAGE MEDIAQUERIES */

@media only screen and (max-width: 1200px) {


    .nav-icon {

        position: absolute;
				right: 10px;
				top: 8px;
        z-index: 100;
        text-indent: -10000px;
        margin-top: 5px;
        width: 30px;
        height: 30px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .nav-icon span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: white;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }


    .nav-icon span:nth-child(1) {
        top: 0px;
    }

    .nav-icon span:nth-child(2) {
        top: 10px;
    }

    .nav-icon span:nth-child(3) {
        top: 20px;
    }

    .nav-icon.open span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
				background-color: #D1BCA3;
    }

    .nav-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .nav-icon.open span:nth-child(3) {
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
				background-color: #D1BCA3;
    }

    header nav{
        display: none;


    }

    header nav.open{
        display: block;
        background-color: rgba(0,0,0,0.7);
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 40px;
				z-index: 9;


    }


    header ul.open {
        display: flex;
        flex-direction: column;
        align-items: center;
				margin-top: 50px;

    }

}

@media screen and (max-width: 470px) {


	.above-the-fold h1 {
		background-size: 70%;
		background-position: center;
		width: 382px;
	}
}

@media screen and (max-width: 970px) {

	.homepage-store ul {
		flex-wrap: wrap;
		margin-bottom: 50px;
	}

	.homepage-store li {
		margin-top: 20px;
	}

	.fullscreen {
		height: auto;
	}

	.homepage-location ul {
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		align-items: center;

	}
}

@media screen and (max-width: 861px) {
	.homepage-location li {
		margin-right: 0;
		margin-top: 20px;
	}

	.newsletter {
		margin-left: 20px;
		margin-right: 20px;
		height: 340px;

	}

	.newsletter form {
		display: flex;
		flex-direction: column;
	}

	.newsletter-email {
		margin-left: 24px;
		margin-top: 15px;
	}

	.newsletter button {
		position: static;
		margin-top: 15px;
		margin-left: 24px;
		margin-bottom: 20px;
	}

	.contactform-textarea {
		width: 514px;
	}

	.homepage-team li {
		margin-bottom: 40px;
	}

	.contactform {
		margin-left: 20px;
		margin-right: 20px;
	}

	.contactform button {
				position: static;
			margin-left: 24px;
			margin-right: 24px;
	}

	.contactform textarea {
		width: 92%;
	}
}

@media screen and (max-width: 415px) {

	.contactform {
		width: 94%;
		height: auto;
	}

	.contactform textarea {
		width: 84%;
		margin-right: 24px;
	}

	.contactform select {
		width: 84%;
		margin-right: 24px;
	}

	.contactform-email {
		width: 84%;
		margin-right: 24px;
	}

	.contactform-name {
		width: 84%;
		margin-right: 24px;
	}

	.newsletter-name {
		width: 84%;
		margin-right: 24px;
	}

	.newsletter-email {
		width: 84%;
		margin-right: 24px;
	}

	.newsletter {
		width: 94%;
		height: auto;
	}

	.newsletter button {
		margin-bottom: 20px;
	}

	.contactform button {
		margin-bottom: 20px;
	}

	.homepage-team li {
		width: 94%;
	}

	.homepage-location li {
				width: 94%;
	}

}

@media screen and (max-width: 587px) {
	.homepage-store li {
		margin-right: 0;
	}
}

@media screen and (max-width: 865px) {
	.homepage-team ul {
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.homepage-team li {
		margin-bottom: 40px;
	}

	.homepage-about-us ul {
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 755px) {
	.homepage-team li {
		margin-right: 0px;
		margin-left: 0px;
	}

	.homepage-team li:nth-child(2) {
		margin-right: 0px;
	}
}


/*RESPONSIVE STORE */

@media screen and (max-width: 974px) {
	.wrapper-page {
		width: 100%;
	}

	.shop {
		flex-direction: column;
		align-items: center;
	}

	footer {
		height: auto;
	}

	footer div{
		margin-right: 37px;
	}

	footer div:nth-child(5) {
		margin: 0;
	}

	footer h4 {
		font-size: 21px;
	}

	footer li a {
		font-size: 15px;
	}

	.wrapper-categories {
		display: flex;
		width: auto;
		height: auto;
		margin-top: 70px;
	}

	.wrapper-categories ul {
		display: flex;
	}

	.wrapper-categories li {
		margin-right: 15px;
		margin-bottom: 0;
	}

	.wrapper-products {
		margin-top: 30px;
	}

	.wrapper-categories h1 {
		margin: 0;
		margin-right: 15px;
	}

}

@media screen and (max-width: 699px) {
	.wrapper-all-products li:nth-child(3n){
	  margin-right: 20px;
	}

	.wrapper-all-products li:nth-child(2n){
		margin-right: 0px;
	}

	.wrapper-all-products ul {
		justify-content: center;
	}

	.wrapper-selection {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.select-price {
			margin-right: 0;
	}
}

@media screen and (max-width: 544px) {

	.above-the-fold h2 {
		padding: 10px 8px;
		font-size: 22px;
	}
}

@media screen and (max-width: 483px) {

		.wrapper-selection {
			flex-direction: column;
		}

		.wrapper-all-products ul {
			align-items: center;
			flex-direction: column;
		}

		.wrapper-all-products li {
			margin-right: 0;
		}

		.wrapper-all-products li:nth-child(3n){
			margin-right: 0;
		}

		.wrapper-categories {
			flex-direction: column;
		}

		.wrapper-categories ul {
			display: block;
		}

		.wrapper-selection p, .wrapper-selection select {
			margin-right: 0;
		}

		.wrapper-selection {
			margin-bottom: 20px;
		}

		.homepage-about-us p {
			font-size: 16px;
			line-height: 28px;
			text-align: justify;
		}

		footer {
			flex-direction: column;
			align-items: center;
		}

		footer div{
			margin-right: 0;
		}
}
