/*
######### BASE #########
*/

@font-face{
	font-family: 'Latin Modern Roman';
	src: url('font/lmroman10-regular-webfont.eot');
	src: url('font/lmroman10-regular-webfont.eot?iefix')
	at('eot'),
	     url('font/lmroman10-regular-webfont.woff') format('woff'),
	     url('font/lmroman10-regular-webfont.ttf') format('truetype'),
	     url('font/lmroman10-regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Latin Modern Italic';
	src: url('font/lmroman10-italic-webfont.eot');
	src: url('font/lmroman10-italic-webfont.eot?iefix') format('eot'),
	     url('font/lmroman10-italic-webfont.woff') format('woff'),
	     url('font/lmroman10-italic-webfont.ttf') format('truetype'),
	     url('font/lmroman10-italic-webfont.svg#webfont') format('svg');
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: black;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
	position: relative;
}



/*
######### HEADER #########
*/


.main-header {
    height: 50px;
    width: 100%;
    background: #000000;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;

  }

  .main-header ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .main-header li {
    margin-left: 74px;
    list-style: none;
  }

  .main-header a {
    color: white;
    text-decoration: none;
  }

  .main-header li a {
    font-size: 18px;
    font-family: 'Latin Modern Roman', serif;
  	transition-duration: 300ms;
  }

  .main-header li a:hover {
  	border-bottom: 1px solid white;
  }

  .main-header h1 {
    margin: 0;
  }
  .main-header h1 a {
    display: block;
    width: 120px;
    height: 23px;
    text-indent: 10000px;
    background-image: url(images/logo-header.svg);
    background-repeat: no-repeat;
  }

  .login {
    margin-left: 56px;
  }


	/*
	######### BODY-HEADER #########
	*/

.body-wrapper{

  padding-top: 100px;
	padding-bottom: 100px;
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 80vw;

	background-color: #FBFBFB;
	margin: 0 auto;
	/*height: 100vh;*/
}

.headline {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  color: black;
  font-weight: normal;
  font-family: 'Latin Modern Roman', serif;
}

.button_new{
	text-decoration: none;
	text-align: center;
	display: block;
	width: 130px;
	height: 38px;
	background-color: #D1BCA3;
	border: 1px solid transparent;
	border-radius: 3px;
	color: white;
	font-size: 20px;
	font-family: 'myriad-pro', sans-serif;
	/*font-style: italic;*/
	padding-top: 6px;
	cursor: pointer;
	margin-bottom: 32px;
}

/*
######### TABLE #########
*/


.table {
	width: 939px;
	/*margin-top: 69px;*/
	border-collapse: collapse;
}

.t-head{
	height: 40px;
	background-color: #282f43;
	width: 939px;
	margin-top: 69px;
}

.t-head th{
	font-family: 'myriad-pro', sans-serif;
	font-weight: bold;
	/*font-style: italic;*/
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.17px;
	padding: 10px;
	padding-left: 30px;
}

.t-body td{
	font-family: 'myriad-pro', sans-serif;
	font-weight: 100;
	font-size: 16.9px;
	color: #0C0C0C;
	letter-spacing: 1.17px;

	padding: 10px;
	padding-left: 50px;
}

.t-body td:last-child{
	padding-right: 50px;
}


.table_row{
	height: 138px;
	background-color: #EBEBEB;
}

.space{
	height: 28px;
}

.button_do{
	text-decoration: none;
	text-align: center;
	display: block;
	width: 80px;
	/*height: 43px;*/
	background-color: #D1BCA3;
	border: 1px solid transparent;
	border-radius: 3px;
	color: white;
	/*font-size: 24px;*/
	font-family: 'myriad-pro', sans-serif;
	/*font-style: italic;*/
	padding: 6px;
	cursor: pointer;
	/*margin-bottom: 32px;*/
}

.button_do:hover{
	text-decoration: underline;
}
.sent img{

	height: 50px;
	width: 50px;
	margin: 0px;
}

/*
######### FORM #########
*/

.form-new form{
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  width: 50vw;
	/*height: 800px;*/
  margin: auto;
  background-color: #ffffff;
  border-radius: 3px;

	padding-bottom: 40px;
	margin-bottom: 50px;

}

fieldset{
	border: 0px;
	padding-top: 50px;
}

.form-wrapper{
  border: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-element-wrapper{

display: flex;

}

.form-headline{
	font-family:'Latin Modern Italic', serif;
	font-weight: normal;
	font-size: 30px;
	color: #0C0C0C;
	letter-spacing: 2.64px;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 15px;
}

.form-subheadline{

	font-family:'Latin Modern Roman';
	font-weight: normal;
	font-size: 20px;
	color: #0C0C0C;

	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;

	align-self: flex-start;

}

.form-subheadline-diffrent{


	font-family:'Latin Modern Roman';
	font-weight: normal;
	font-size: 20px;
	color: #0C0C0C;

	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Input */

.form-input{
	display: block;
	margin: auto;
	margin-bottom: 5px;
	width: 30vw;
	height: 43px;
	border-radius: 3px;
	background-color: #F3F3F3;
	border: 2px solid transparent;
	text-align: center;
	font-size: 10px;
	color: black;
	padding-top: 5px;
	font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 15px;
	color: #0C0C0C;
	letter-spacing: 1.16px;
}

/* Checkbox */

.checkbox-wrapper{
	display: flex;
	justify-content: center;
	padding-top: 10px;
	align-items: center;
}

.checkbox-wrapper label{
	font-family:'Latin Modern Roman', serif;
	font-size: 25px;
	color: #0C0C0C;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 5px;

}

/* Textarea */

.form-textarea{

	display: block;
	margin: auto;
	margin-bottom: 5px;

	border-radius: 3px;
	background-color: #F3F3F3;
	border: 2px solid transparent;
	color: black;
	padding-top: 5px;
	padding: 30px;
	font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 15px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

}

/* Select */

.select-wrapper select{

	background: transparent;
	width: 268px;
	padding: 8px;
	font-size: 15px;
	line-height: 2;
	border: 0;
	border-radius: 0;
	height: 45px;
	-webkit-appearance: none;


}

.select-wrapper{
	width: 240px;
	height: 45px;
	overflow: hidden;
	/*background: url(new_arrow.png) no-repeat right #ddd;*/
	background: url(images/select-arrow.png) no-repeat right;
	border: 1px solid #ccc;
	padding-right: 5px;
}


/* Upload */

.upload-wrapper{

	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

 #file-upload {
   position: absolute;
   left: -9999px;
 }

 label[for="file-upload"] {
   padding: 0.5em;
   display: inline-block;
   /*background: #623475;*/
   background-color: rgb(209, 188, 163);
	 color: white;
	 font-size: 18px;
	 font-family: myriad-pro, sans-serif;
	 font-style: italic;
   cursor: pointer;
 }
 label[for="file-upload"]:hover {
   text-decoration: underline;
   color : white
 }

 #filename {
   padding: 0.5em;
   float: left;
   width: 200px;
   white-space: nowrap;
   overflow: hidden;
   /*background: #804399;*/
   background-color:#F3F3F3;
	 font-family: myriad-pro, sans-serif;

 }

/* Submit */

.save-button{
margin-top: 30px;
display: block;
width: 154px;
height: 43px;
background-color: rgb(209, 188, 163);
color: white;
font-size: 24px;
font-family: myriad-pro, sans-serif;
font-style: italic;
padding-top: 6px;
cursor: pointer;
margin-bottom: 20px;
border-width: 1px;
border-style: solid;
border-color: transparent;
border-radius: 3px;
}


/* Adress */


.input-street{
  width: 30vw;


}

.input-zip{
  width: 4vw;
	margin-right: 1vw;

}

.input-location{
  width: 9vw;
	margin-right: 2vw;

}

.input-country{
	width: 14vw;
}

/*Image Tabelle*/

.image-link {

	display: block;
  width: 150px;
  height: 150px;
	object-fit: contain;

  background-color: white;
	overflow: hidden;
	margin-bottom: 15px;

}

img {

 object-fit: contain;
 width: 106%;
 height: 86%;
 transition-duration: 1s;
 margin-top: 15px;

}

/* Order Detail Page*/

.detail-wrapper{

	display: flex;
	width: 60vw;
	margin: 0 auto;
	flex: auto;

}

div .detail-element-wrapper{
  border: 0px;
	font-family: 'myriad-pro', sans-serif;
	font-size: 15px;
	flex-direction: column;
	align-items: center;

	margin : 30px;
	margin-top: 0px;
	justify-content: center;
	padding: 10px;



}

.detail-headline{

	font-family: 'myriad-pro', sans-serif;
	font-size: 15px;
	letter-spacing: 1.17px;
  font-weight: normal;;
  font-size: 25px;
  color: #0C0C0C;
  letter-spacing: 2.64px;
	align-self: flex-start;
	margin: 0px;
	/*align-self: center;*/

}

.detail-table{
	align-self: flex-start;
	margin-top: 20px;
		border-collapse: collapse;

}

.detail-table-head{

	height: 40px;
	width: 939px;
	background-color: #282f43;
	color: white;



}

.detail-table-head th{
	font-family: 'myriad-pro', sans-serif;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 1.17px;

	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.detail-table-body td{

	font-family: 'myriad-pro', sans-serif;
	font-size: 15px;
	letter-spacing: 1.17px;
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;


}
.detail-table-foot {

	border: 1px solid black;

}

.detail-table-foot td{


	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
/* Backend Search */

.search {
	min-height: 100vh;
}

.accordeon {
	border-radius: 3px;
	overflow: hidden;
	width: 70%;
	font-family: 'myriad-pro', sans-serif;
	font-style: normal;
	box-shadow: 0px 0px 10px 0px rgba(170,170,170,0.50);
}

.accordeon-title {
  background-color: white;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #e6e6e6;
  margin: 0;
	font-family: 'myriad-pro', sans-serif;
	color: #0C0C0C;
	font-size: 15px;
	transition-duration: 200ms;
}

.accordeon-title:hover {
	background-color: #F5F5F5;
}

.accordeon-title:hover span:after{
	color: #919191;
}

.accordeon-title span:after {
  content: '+';
  float: right;
  font-size: 1.2em;
  color: #f2f2f2;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
	margin-left: 20px;
	transition-duration: 200ms;
}

.accordeon span {
	float: right;
	font-size: 12px;
}

.accordeon i {
	margin-left: 20px;
	font-style:normal;
	color: #616161;
}

.accordeon-title.is-opened span:after {
  content: '-';
	color: white;
}

.accordeon-title.is-opened {
	background-color: #e6e6e6;
	transition-duration: 800ms;
}

.accordeon-content {
  display: none;
  padding: 10px;
}

.order-sent {
	color: green;
}

.search-image {
	width: 50px;
	border-radius: 3px;
	height: auto;
}

.accordeon table {
	width: 90%;
	margin: 20px;
	border-collapse:collapse;;
}

.accordeon table tr {
	margin-top: 5px;
	margin-bottom: 5px;
}

.accordeon table th{
	text-align: left;
}

.accordeon table td{
	padding: 10px;
}

.accordeon table a{
	text-decoration: none;
	color: black;
}

.accordeon table thead{
	background-color: #e6e6e6;
}

.accordeon table thead th{
	padding: 10px;
}

.accordeon .totalprice{
	margin-left: 20px;
	font-weight: bold;
}

.accordeon .totalprice a {
	text-decoration: none;
	color: blue;
}

.accordeon .totalprice span{
	margin-left: 20px;
	font-weight: normal;
}

.search_request {
	width: 100%;
	height: 37px;
	margin-bottom: 13px;
	border: 0;
	text-align: center;
	box-shadow: 0px 0px 10px 0px rgba(170,170,170,0.50);
	border-radius: 3px;
	font-size: 15px;
	padding: 10px;
	font-family: 'myriad-pro', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}

.request_form {
	width: 70%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    grey;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    grey;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    grey;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    grey;
}

input { outline: none; }

.answer p {
	font-size: 15px;
	padding: 10px;
	font-family: 'myriad-pro', sans-serif;
}

/* Messages Page*/

.messages {
	position: relative;
}

.messages-counter {
	background-color: #AB0000;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	color: white;
	text-align: center;
	position: absolute;
	font-size: 15px;
	left: 75px;
	font-family: 'myriad-pro', sans-serif;
}

.message-content {
	min-height: 100px;
	padding: 20px;
	line-height: 23px;
}

.message-subject {
	display: flex;
	justify-content: space-between;
}

.message-subject span {
	border: 2px solid black;
	padding: 2px;
	margin-left: 20px;
	margin-top: 10px;
	font-weight: bold;
	margin-right: 22px;
}

.message-subject a {
	font-weight: bold;
	text-decoration: none;
	color: black;
}

.contactform {
  margin-top: 20px;
  height: 600px;
  max-width: 940px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  position: relative;
  z-index: 1;
  margin-bottom: 161px;
}

.contactform h3 {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-weight: bold;
  font-size: 40px;
  color: #212121;
  line-height: 48px;
  margin: 0;
  margin-left: 24px;
  margin-top: 36px;
}

.contactform p {
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: #212121;
  line-height: 24px;
  margin: 0;
  margin-left: 24px;
	margin-right: 24px;
}

.contactform-name {
  width: 332px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;
  margin-left: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: black;
  padding-left: 45px;
  background-image: url(images/name-icon.svg);
  background-position: 10px 9px;
  background-repeat: no-repeat;
  padding-top: 5px;
  margin-top: 40px;
}

.contactform-email {
  width: 332px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;
  margin-left: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: black;
  padding-left: 45px;
  background-image: url(images/email-icon.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-top: 5px;
  margin-top: 15px;
}

.contactform select {
  width: 332px;
  height: 43px;
  border-radius: 3px;
  background-color: #F3F3F3;
  border: 1px solid transparent;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: black;
  padding-left: 45px;
  background-image: url(images/subject-icon.svg);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-top: 5px;
  margin-top: 15px;
  margin-left: 24px;
  -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.contactform-textarea {
  height: 160px;
	width: 879px;
  background-color: #F3F3F3;
  border-radius: 3px;
  border: 1px solid transparent;
  margin-top: 15px;
  margin-left: 24px;
	margin-right: 15px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  font-size: 20px;
  color: black;
  padding-left: 45px;
  padding-top: 10px;
  background-image: url(images/message-icon.svg);
  background-position: 10px 7px;
  background-repeat: no-repeat;
  resize: none;
}

.contactform button {
  width: 154px;
  height: 43px;
  background-color: #D1BCA3;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  font-size: 24px;
  font-family: 'myriad-pro', sans-serif;
	font-style: italic;
  margin-left: 30px;
  margin-top: 40px;
  margin-right: 35px;
	margin-bottom: 20px;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.reply-content {
	margin-top: 20px;
	padding: 20px;
	background-color: #F2F2F2;
}

/* END BACKEND SEARCH */
