/*
######### BASE #########
*/

@font-face{
	font-family: 'Latin Modern Roman';
	src: url('font/lmroman10-regular-webfont.eot');
	src: url('font/lmroman10-regular-webfont.eot?iefix') format('eot'),
	     url('font/lmroman10-regular-webfont.woff') format('woff'),
	     url('font/lmroman10-regular-webfont.ttf') format('truetype'),
	     url('font/lmroman10-regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Latin Modern Italic';
	src: url('font/lmroman10-italic-webfont.eot');
	src: url('font/lmroman10-italic-webfont.eot?iefix') format('eot'),
	     url('font/lmroman10-italic-webfont.woff') format('woff'),
	     url('font/lmroman10-italic-webfont.ttf') format('truetype'),
	     url('font/lmroman10-italic-webfont.svg#webfont') format('svg');
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: black;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: black;
}

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
	position: relative;
}



/*
######### HEADER #########
*/


.main-header {
    height: 50px;
    width: 100%;
    background: #000000;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.50);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;

  }

  .main-header ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .main-header li {
    margin-left: 74px;
    list-style: none;
  }

  .main-header a {
    color: white;
    text-decoration: none;
  }

  .main-header li a {
    font-size: 18px;
    font-family: 'Latin Modern Roman', serif;
  	transition-duration: 300ms;
  }

  .main-header li a:hover {
  	border-bottom: 1px solid white;
  }

  .main-header h1 {
    margin: 0;
  }
  .main-header h1 a {
    display: block;
    width: 120px;
    height: 23px;
    text-indent: 10000px;
    background-image: url(images/logo-header.svg);
    background-repeat: no-repeat;
  }

  .login {
    margin-left: 56px;
  }


	/*
	######### BODY-HEADER #########
	*/

.body-wrapper{

  padding-top: 100px;
	padding-bottom: 100px;
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 80vw;

	background-color: #FBFBFB;
	margin: 0 auto;
	/*height: 100vh;*/
}

.headline {
  margin: 0;
  margin-bottom: 30px;
  font-size: 48px;
  color: black;
  font-weight: normal;
  font-family: 'Latin Modern Roman', serif;
}

.button_new{
	text-decoration: none;
	text-align: center;
	display: block;
	width: 130px;
	height: 38px;
	background-color: #D1BCA3;
	border: 1px solid transparent;
	border-radius: 3px;
	color: white;
	font-size: 20px;
	font-family: 'myriad-pro', sans-serif;
	/*font-style: italic;*/
	padding-top: 6px;
	cursor: pointer;
	margin-bottom: 32px;
}

/*
######### TABLE #########
*/


table {
	width: 939px;
	/*margin-top: 69px;*/
	border-collapse: collapse;
}

thead{
	height: 40px;
	background-color: #282f43;
	width: 939px;
	margin-top: 69px;
}

thead th{
	font-family: 'myriad-pro', sans-serif;
	font-weight: bold;
	/*font-style: italic;*/
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 1.17px;
	padding: 10px;
	padding-left: 30px;
}

tbody td{
	font-family: 'myriad-pro', sans-serif;
	font-weight: 100;
	font-size: 16.9px;
	color: #0C0C0C;
	letter-spacing: 1.17px;

	padding: 10px;
	padding-left: 50px;
}

tbody td:last-child{
	padding-right: 50px;
}


.table_row{
	height: 138px;
	background-color: #EBEBEB;
}

.space{
	height: 28px;
}

.button_do{
	text-decoration: none;
	text-align: center;
	display: block;
	width: 80px;
	/*height: 43px;*/
	background-color: #D1BCA3;
	border: 1px solid transparent;
	border-radius: 3px;
	color: white;
	/*font-size: 24px;*/
	font-family: 'myriad-pro', sans-serif;
	/*font-style: italic;*/
	padding: 6px;
	cursor: pointer;
	/*margin-bottom: 32px;*/
}

.button_do:hover{
	text-decoration: underline;
}

/*
######### FORM #########
*/

.form-new form{
  box-shadow: 0px 0px 10px 0px rgba(169,169,169,0.50);
  width: 50vw;
	/*height: 800px;*/
  margin: auto;
  background-color: #ffffff;
  border-radius: 3px;

	padding-bottom: 40px;
	margin-bottom: 50px;

}

fieldset{
	border: 0px;
	padding-top: 50px;
}

.form-wrapper{
  border: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-element-wrapper{

display: flex;

}

.form-headline{
	font-family:'Latin Modern Italic', serif;
	font-weight: normal;
	font-size: 30px;
	color: #0C0C0C;
	letter-spacing: 2.64px;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 15px;
}

.form-subheadline{

	font-family:'Latin Modern Roman';
	font-weight: normal;
	font-size: 20px;
	color: #0C0C0C;

	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;

	align-self: flex-start;

}

.form-subheadline-diffrent{


	font-family:'Latin Modern Roman';
	font-weight: normal;
	font-size: 20px;
	color: #0C0C0C;

	margin: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Input */

.form-input{
	display: block;
	margin: auto;
	margin-bottom: 5px;
	width: 30vw;
	height: 43px;
	border-radius: 3px;
	background-color: #F3F3F3;
	border: 2px solid transparent;
	text-align: center;
	font-size: 10px;
	color: black;
	padding-top: 5px;
	font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 15px;
	color: #0C0C0C;
	letter-spacing: 1.16px;
}

/* Checkbox */

.checkbox-wrapper{
	display: flex;
	justify-content: center;
	padding-top: 10px;
	align-items: center;
}

.checkbox-wrapper label{
	font-family:'Latin Modern Roman', serif;
	font-size: 25px;
	color: #0C0C0C;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 5px;

}

/* Textarea */

.form-textarea{

	display: block;
	margin: auto;
	margin-bottom: 5px;

	border-radius: 3px;
	background-color: #F3F3F3;
	border: 2px solid transparent;
	color: black;
	padding-top: 5px;
	font-family: 'myriad-pro', sans-serif;
	font-style: italic;
	font-size: 15px;
	color: #0C0C0C;
	letter-spacing: 1.16px;

}



/* Upload */

.upload-wrapper{

	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

 #file-upload {
   position: absolute;
   left: -9999px;
 }

 label[for="file-upload"] {
   padding: 0.5em;
   display: inline-block;
   /*background: #623475;*/
   background-color: rgb(209, 188, 163);
	 color: white;
	 font-size: 18px;
	 font-family: myriad-pro, sans-serif;
	 font-style: italic;
   cursor: pointer;
 }
 label[for="file-upload"]:hover {
   text-decoration: underline;
   color : white
 }

 #filename {
   padding: 0.5em;
   float: left;
   width: 200px;
   white-space: nowrap;
   overflow: hidden;
   /*background: #804399;*/
   background-color:#F3F3F3;
	 font-family: myriad-pro, sans-serif;

 }

/* Submit */

.save-button{
margin-top: 30px;
display: block;
width: 154px;
height: 43px;
background-color: rgb(209, 188, 163);
color: white;
font-size: 24px;
font-family: myriad-pro, sans-serif;
font-style: italic;
padding-top: 6px;
cursor: pointer;
margin-bottom: 20px;
border-width: 1px;
border-style: solid;
border-color: transparent;
border-radius: 3px;
}


/* Adress */


.input-street{
  width: 14vw;
	margin-right: 2vw;

}
.input-number{
  width: 14vw;
}

.input-zip{
  width: 4vw;
	margin-right: 1vw;

}

.input-location{
  width: 9vw;
	margin-right: 2vw;

}

.input-country{
	width: 14vw;
}
